#thoughtCard {
    background-color: rgb(240, 240, 240);
    width: 45rem;
    border-radius: 25px;
    margin: 35px;
    color: rgb(32, 32, 32);
    font-family: 'Baloo Tamma 2', cursive;
    line-height: 1.1;
    min-height: 380px;
    font-size: 50px;
    transition: all 0.1s linear;
    box-shadow: 2px 2px 6px 1px rgba(56, 56, 56, 0.5);
}

textarea[type="text"] {
    width: 95%;
    padding: 10px;
    margin: 0px auto 10px auto;
    resize: none;
    font-size: 18px;
    border-radius: 5px;
}

textarea[type="text"]:focus {
    outline: none;
}

#nextBtn {
    border-radius: 25px;
    height: 50px;
    min-width: 140px;
    font-size: 25px;
    float: right;
    margin: 20px;
}

#backBtn {
    border-radius: 25px;
    height: 50px;
    min-width: 140px;
    font-size: 25px;
    float: left;
    margin: 20px;
}

p {
    font-size: 18px;
}


h2 {
    padding: 20px 20px 0px 20px;
}